build --cxxopt=--std=c++20
build --verbose_failures
build --experimental_cc_shared_library

# Default all tests to show errors
test --test_output=errors

# User-specific .bazelrc
try-import user.bazelrc
